body {
    background-image: url(background\ img.gif);
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  .a {
      color: beige;
      font-style: oblique;
  }
  .b{
      color: aliceblue;
      font-style: italic;
      font-size: 100px;
  }